body {
    font-size: 20px;
}
h1 {
    background-color: grey;
    text-align: center;
}
div {
    margin-top: 50px;
}
#left {
    background-color: blue;
    float: left;
    width: 50%;
    height: 800px;
    line-height: 800px;
    text-align: center;
}
#right {
    background-color: red;
    float: right;
    width: 25%;
    height: 800px;
    line-height: 800px;
    text-align: center;
    
    
}
footer {
    clear: both;
    text-align: center;
    background-color: green;
    margin-top: 1125px;
}